In [1]:
#dependencies
import pandas as pd

In [2]:
#importing data
school_cvspath = 'Resources\schools_complete.csv'
student_cvspath = 'Resources\students_complete.csv'

In [3]:
#Using Pandas to read data
school_data = pd.read_csv(school_cvspath)
student_data = pd.read_csv(student_cvspath)

In [4]:
#initial viewing of data
student_data.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [5]:
#initial viewing of data
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [6]:
#Checking columns actual names
student_data.columns

Index(['Student ID', 'student_name', 'gender', 'grade', 'school_name',
       'reading_score', 'math_score'],
      dtype='object')

In [7]:
#Checking columns actual names
school_data.columns

Index(['School ID', 'school_name', 'type', 'size', 'budget'], dtype='object')

In [8]:
#Cleaning up column names.
student_data = student_data.rename(columns={
    'student_name' : 'Student Name',
    'gender' : 'Gender',
    'grade' : 'Grade',
    'school_name' : 'School Name',
    'reading_score' : 'Reading Score',
    'math_score' : "Math Score"
})

In [9]:
#Rechecking cleaned data
student_data.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score
0,0,Paul Bradley,M,9th,Huang High School,66,79
1,1,Victor Smith,M,12th,Huang High School,94,61
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58
4,4,Bonnie Ray,F,9th,Huang High School,97,84

In [10]:
#Cleaning up column names.
school_data = school_data.rename(columns={
    'school_name' : 'School Name',
    'type' : 'Type',
    'size' : 'Size',
    'budget' : 'Budget',
})

In [11]:
#Rechecking cleaned data
school_data.head()

   School ID            School Name      Type  Size   Budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [12]:
#Initial Statistics inquiries

#total_students = student_data['Student Name'].count()
#does not account for duplicates. Code below accounts for duplicates. Although both produce the same answer in this case because there was no duplicates.
total_students = len(student_data['Student Name'].unique())
student_info = student_data['Student Name'].value_counts()
best_reading_score = student_data['Reading Score'].max()
worst_reading_score = student_data['Reading Score'].min()
avg_reading_score = student_data['Reading Score'].mean()
best_math_score = student_data['Math Score'].max()
worst_math_score = student_data['Math Score'].min()
avg_math_score = student_data['Math Score'].mean()

print(total_students)
print(student_info)
print(best_reading_score)
print(worst_reading_score)
print(avg_reading_score)
print(best_math_score)
print(worst_math_score)
print(avg_math_score)

32715
Michael Smith             26
Michael Williams          16
David Johnson             16
David Smith               15
Daniel Johnson            14
Michael Brown             13
Michael Johnson           13
Michael Martinez          12
Jessica Smith             11
Jennifer Anderson         11
Lisa Smith                11
Michelle Smith            11
Robert Jones              10
Michael Miller            10
John Smith                10
John Johnson              10
James Smith               10
Amanda Johnson            10
Michael Davis             10
Thomas Smith              10
James Williams             9
Robert Smith               9
Jessica Johnson            9
Jennifer Johnson           9
William Smith              9
David Miller               9
Christopher Williams       9
Matthew Smith              9
Michael Clark              9
Joshua Smith               8
                          ..
Shannon Griffin            1
Amanda Rogers              1
Amanda Cole                1
Tara Lane                  1
Stephen Mcdonald           1
Sean Chandler              1
Alexander Hughes           1
Benjamin Hall              1
Joshua Vaughn              1
Regina Ramirez             1
Kristy Pope                1
Mark Molina                1
Pam Clay                   1
Mrs. Megan Kaufman DVM     1
Christopher Davenport      1
Jennifer Pineda            1
Kathryn Vasquez            1
Heather Cunningham         1
Mercedes Weber             1
Jose Edwards               1
Gavin Kennedy              1
Alexis Hayes               1
Nicholas Ray               1
Matthew Nolan              1
Scott Caldwell             1
Kimberly Hoffman           1
Bruce Nelson               1
Luis Stokes                1
Cynthia Kline              1
Mitchell Kennedy           1
Name: Student Name, Length: 32715, dtype: int64
99
63
81.87784018381414
99
55
78.98537145774827

In [13]:
#Rounding Average - Data Cleanup
avg_reading_score = round(avg_reading_score, 0)
avg_math_score = round(avg_math_score, 0)

print(avg_reading_score)
print(avg_math_score)

82.0
79.0

In [14]:
#Additional Statistics
budget = school_data['Budget'].count()
print(budget)
budget_total = school_data['Budget'].sum()
budget_total

15

24649428

In [15]:
#Per student budget
per_student = total_students / budget_total
per_student

0.0013272113251471798

In [16]:
#merging on School Name for single data set.
schools_merge = pd.merge(student_data, school_data, how='outer', on="School Name")
schools_merge.head()

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [17]:
# More stats
#total_schools = school_data["School Name"].count()
#does not account for duplicates. Code below accounts for duplicates. Although both produce the same answer in this case because there was no duplicates.
total_schools = len(school_data["School ID"].unique())
print(total_schools)

#Calculate the percentage of students with a passing math score (70 or greater)
#Calculate the percentage of students with a passing reading score (70 or greater)
#Create 1s  for the passing students by math or reading. 0 otherwise. And take the mean to get the average. It will give the percent of the passing students.
student_data["math_pass"] = student_data["Math Score"] >= 70
student_data["reading_pass"] = student_data["Reading Score"] >= 70
percent_passing_math = ((student_data["math_pass"]).mean())*100
percent_passing_reading = ((student_data["reading_pass"]).mean())*100
percent_passing_math = round(percent_passing_math, 2)
percent_passing_reading = round(percent_passing_reading, 2)
overall_pass = (percent_passing_reading + percent_passing_math ) / 2
print(percent_passing_reading)
print(percent_passing_math)
print(overall_pass)

15
85.81
74.98
80.39500000000001

In [18]:
# Creating a summary DataFrame using above values
district_summary_df = pd.DataFrame({
    'Total Schools' : [total_schools],
    'Total Students' : [total_students],
    'Total Budget' : [budget_total],
    'Average Math Score' : [avg_math_score],
    'Average Reading Score' : [avg_reading_score],
    '% Passing Math' : [percent_passing_math],
    '% Passing Reading' : [percent_passing_reading],
    '% Overall Passing Rate' : [overall_pass],
})

#Formatting.
district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)
district_summary_df["% Passing Math"] = district_summary_df["% Passing Math"].map("{:,.2f}%".format)
district_summary_df["% Passing Reading"] = district_summary_df["% Passing Reading"].map("{:,.2f}%".format)
district_summary_df["Average Math Score"] = district_summary_df["Average Math Score"].map("{:}%".format)
district_summary_df["Average Reading Score"] = district_summary_df["Average Reading Score"].map("{:}%".format)
district_summary_df["% Overall Passing Rate"] = district_summary_df["% Overall Passing Rate"].map("{:,.2f}%".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"32,715","$24,649,428.00",79.0%,82.0%,74.98%,85.81%,80.40%

In [19]:
#before Groupby writing new data:
schools_merge["Passing Math"] = schools_merge["Math Score"] >= 70
schools_merge["Passing Reading"] = schools_merge["Reading Score"] >= 70

schools_merge

,Student ID,Student Name,Gender,Grade,School Name,Reading Score,Math Score,School ID,Type,Size,Budget,Passing Math,Passing Reading
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635,True,False
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635,False,True
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635,False,True
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635,False,False
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635,True,True
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635,True,True
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635,True,True
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635,False,True
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635,True,True
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635,True,True
10,10,Andrew Alexander,M,10th,Huang High School,90,70,0,District,2917,1910635,True,True
11,11,Daniel Cooper,M,10th,Huang High School,78,77,0,District,2917,1910635,True,True
12,12,Brittney Walker,F,9th,Huang High School,64,79,0,District,2917,1910635,True,False
13,13,William Long,M,9th,Huang High School,71,79,0,District,2917,1910635,True,True
14,14,Tammy Hebert,F,10th,Huang High School,85,67,0,District,2917,1910635,False,True
15,15,Dr. Jordan Carson,M,11th,Huang High School,94,88,0,District,2917,1910635,True,True
16,16,Donald Zamora,M,9th,Huang High School,88,55,0,District,2917,1910635,False,True
17,17,Kimberly Santiago,F,9th,Huang High School,74,75,0,District,2917,1910635,True,True
18,18,Kevin Stevens,M,9th,Huang High School,64,69,0,District,2917,1910635,False,False
19,19,Brandi Lyons,F,9th,Huang High School,89,80,0,District,2917,1910635,True,True
20,20,Lisa Davis,F,10th,Huang High School,91,89,0,District,2917,1910635,True,True
21,21,Kristen Lopez,F,10th,Huang High School,90,77,0,District,2917,1910635,True,True
22,22,Kimberly Stewart,F,11th,Huang High School,99,84,0,District,2917,1910635,True,True
23,23,Christopher Parker,M,9th,Huang High School,81,68,0,District,2917,1910635,False,True
24,24,Chelsea Griffith,F,11th,Huang High School,85,73,0,District,2917,1910635,True,True
25,25,Cesar Morris,M,9th,Huang High School,92,70,0,District,2917,1910635,True,True
26,26,Melanie Decker,F,9th,Huang High School,63,85,0,District,2917,1910635,True,False
27,27,Tracey Oconnor,F,10th,Huang High School,80,58,0,District,2917,1910635,False,True
28,28,Kelly James,F,11th,Huang High School,73,55,0,District,2917,1910635,False,True
29,29,Nicole Brown,F,12th,Huang High School,90,88,0,District,2917,1910635,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
39140,39140,Cheyenne Hernandez,F,9th,Thomas High School,76,99,14,Charter,1635,1043130,True,True
39141,39141,Jonathan Sullivan,M,10th,Thomas High School,86,93,14,Charter,1635,1043130,True,True
39142,39142,Deborah Higgins DDS,F,10th,Thomas High School,96,83,14,Charter,1635,1043130,True,True
39143,39143,Steven Jackson,M,11th,Thomas High School,71,93,14,Charter,1635,1043130,True,True
39144,39144,Cristian Webster,M,12th,Thomas High School,77,87,14,Charter,1635,1043130,True,True
39145,39145,Audrey Fry,F,10th,Thomas High School,94,74,14,Charter,1635,1043130,True,True
39146,39146,Michael Carroll,M,9th,Thomas High School,69,95,14,Charter,1635,1043130,True,False
39147,39147,Raymond Hawkins,M,10th,Thomas High School,88,81,14,Charter,1635,1043130,True,True
39148,39148,Christopher Wilson,M,10th,Thomas High School,89,89,14,Charter,1635,1043130,True,True
39149,39149,Glenda Fletcher,F,11th,Thomas High School,82,93,14,Charter,1635,1043130,True,True
39150,39150,Jennifer Hamilton,F,11th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39151,39151,Shannon Williams,F,10th,Thomas High School,84,73,14,Charter,1635,1043130,True,True
39152,39152,Lori Moore,F,9th,Thomas High School,98,84,14,Charter,1635,1043130,True,True
39153,39153,William Hubbard,M,9th,Thomas High School,80,75,14,Charter,1635,1043130,True,True
39154,39154,Bradley Johnson,M,12th,Thomas High School,91,71,14,Charter,1635,1043130,True,True
39155,39155,John Brooks,M,10th,Thomas High School,92,98,14,Charter,1635,1043130,True,True
39156,39156,Stephanie Contreras,F,11th,Thomas High School,79,95,14,Charter,1635,1043130,True,True
39157,39157,Kristen Gonzalez,F,9th,Thomas High School,79,94,14,Charter,1635,1043130,True,True
39158,39158,Kari Holloway,F,10th,Thomas High School,87,90,14,Charter,1635,1043130,True,True
39159,39159,Kimberly Cabrera,F,11th,Thomas High School,85,72,14,Charter,1635,1043130,True,True
39160,39160,Katie Weaver,F,11th,Thomas High School,89,86,14,Charter,1635,1043130,True,True
39161,39161,April Reyes,F,10th,Thomas High School,70,84,14,Charter,1635,1043130,True,True
39162,39162,Derek Weeks,M,12th,Thomas High School,94,77,14,Charter,1635,1043130,True,True
39163,39163,John Reese,M,11th,Thomas High School,90,75,14,Charter,1635,1043130,True,True
39164,39164,Joseph Anthony,M,9th,Thomas High School,97,76,14,Charter,1635,1043130,True,True
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130,True,True
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130,True,True
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130,True,True
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130,True,True

In [20]:



# Using GroupBy in order to separate the data
grouped_schools_df = schools_merge.groupby(['School Name']).mean()
print(grouped_schools_df)

#grouped_schools_df['Student ID'].count().head(10)
#grouped_schools_df.count().head(10)
grouped_schools_df.head()

                       Student ID  Reading Score  Math Score  School ID  \
School Name
Bailey High School        20358.5      81.033963   77.048432        7.0
Cabrera High School       16941.5      83.975780   83.061895        6.0
Figueroa High School       4391.0      81.158020   76.711767        1.0
Ford High School          36165.0      80.746258   77.102592       13.0
Griffin High School       12995.5      83.816757   83.351499        4.0
Hernandez High School      9944.0      80.934412   77.289752        3.0
Holden High School        23060.0      83.814988   83.803279        8.0
Huang High School          1458.0      81.182722   76.629414        0.0
Johnson High School       32415.0      80.966394   77.072464       12.0
Pena High School          23754.5      84.044699   83.839917        9.0
Rodriguez High School     28035.0      80.744686   76.842711       11.0
Shelton High School        6746.0      83.725724   83.359455        2.0
Thomas High School        38352.0      83.848930   83.418349       14.0
Wilson High School        14871.0      83.989488   83.274201        5.0
Wright High School        25135.5      83.955000   83.682222       10.0

                         Size     Budget  Passing Math  Passing Reading
School Name
Bailey High School     4976.0  3124928.0      0.666801         0.819333
Cabrera High School    1858.0  1081356.0      0.941335         0.970398
Figueroa High School   2949.0  1884411.0      0.659885         0.807392
Ford High School       2739.0  1763916.0      0.683096         0.792990
Griffin High School    1468.0   917500.0      0.933924         0.971390
Hernandez High School  4635.0  3022020.0      0.667530         0.808630
Holden High School      427.0   248087.0      0.925059         0.962529
Huang High School      2917.0  1910635.0      0.656839         0.813164
Johnson High School    4761.0  3094650.0      0.660576         0.812224
Pena High School        962.0   585858.0      0.945946         0.959459
Rodriguez High School  3999.0  2547363.0      0.663666         0.802201
Shelton High School    1761.0  1056600.0      0.938671         0.958546
Thomas High School     1635.0  1043130.0      0.932722         0.973089
Wilson High School     2283.0  1319574.0      0.938677         0.965396
Wright High School     1800.0  1049400.0      0.933333         0.966111

,Student ID,Reading Score,Math Score,School ID,Size,Budget,Passing Math,Passing Reading
School Name,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,0.666801,0.819333
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,0.941335,0.970398
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,0.659885,0.807392
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,0.683096,0.792990
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,0.933924,0.971390

In [21]:
grouped_schools_df['Per Student'] = grouped_schools_df['Budget']/grouped_schools_df['Size']
grouped_schools_df["Average Math Score"] = grouped_schools_df['Math Score'].mean()
grouped_schools_df["Average Reading Score"] = grouped_schools_df['Reading Score'].mean()
grouped_schools_df["Passing Math"] = round(grouped_schools_df["Passing Math"]*100,2)
grouped_schools_df["Passing Reading"] = round(grouped_schools_df["Passing Reading"]*100,2)
grouped_schools_df["Overall Passing Rate"] = (grouped_schools_df["Passing Math"] + grouped_schools_df["Passing Reading"])/2
grouped_schools_df.head()

,Student ID,Reading Score,Math Score,School ID,Size,Budget,Passing Math,Passing Reading,Per Student,Average Math Score,Average Reading Score,Overall Passing Rate
School Name,,,,,,,,,,,,
Bailey High School,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,66.68,81.93,628.0,80.43253,82.529188,74.305
Cabrera High School,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,94.13,97.04,582.0,80.43253,82.529188,95.585
Figueroa High School,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,65.99,80.74,639.0,80.43253,82.529188,73.365
Ford High School,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,68.31,79.30,644.0,80.43253,82.529188,73.805
Griffin High School,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,93.39,97.14,625.0,80.43253,82.529188,95.265

In [22]:
grouped_schools_df.columns.tolist()

['Student ID',
 'Reading Score',
 'Math Score',
 'School ID',
 'Size',
 'Budget',
 'Passing Math',
 'Passing Reading',
 'Per Student',
 'Average Math Score',
 'Average Reading Score',
 'Overall Passing Rate']

In [23]:
#Not Sure Why Type dropped off... Reimporting it.
grouped_schools = pd.merge(grouped_schools_df, school_data, how='outer', on='School ID')

grouped_schools.head()

,Student ID,Reading Score,Math Score,School ID,Size_x,Budget_x,Passing Math,Passing Reading,Per Student,Average Math Score,Average Reading Score,Overall Passing Rate,School Name,Type,Size_y,Budget_y
0,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,66.68,81.93,628.0,80.43253,82.529188,74.305,Bailey High School,District,4976,3124928
1,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,94.13,97.04,582.0,80.43253,82.529188,95.585,Cabrera High School,Charter,1858,1081356
2,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,65.99,80.74,639.0,80.43253,82.529188,73.365,Figueroa High School,District,2949,1884411
3,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,68.31,79.30,644.0,80.43253,82.529188,73.805,Ford High School,District,2739,1763916
4,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,93.39,97.14,625.0,80.43253,82.529188,95.265,Griffin High School,Charter,1468,917500

In [24]:
grouped_schools.columns.tolist()

['Student ID',
 'Reading Score',
 'Math Score',
 'School ID',
 'Size_x',
 'Budget_x',
 'Passing Math',
 'Passing Reading',
 'Per Student',
 'Average Math Score',
 'Average Reading Score',
 'Overall Passing Rate',
 'School Name',
 'Type',
 'Size_y',
 'Budget_y']

In [25]:
del grouped_schools['Size_y']
del grouped_schools['Budget_y']
grouped_schools.head(10)

,Student ID,Reading Score,Math Score,School ID,Size_x,Budget_x,Passing Math,Passing Reading,Per Student,Average Math Score,Average Reading Score,Overall Passing Rate,School Name,Type
0,20358.5,81.033963,77.048432,7.0,4976.0,3124928.0,66.68,81.93,628.0,80.43253,82.529188,74.305,Bailey High School,District
1,16941.5,83.975780,83.061895,6.0,1858.0,1081356.0,94.13,97.04,582.0,80.43253,82.529188,95.585,Cabrera High School,Charter
2,4391.0,81.158020,76.711767,1.0,2949.0,1884411.0,65.99,80.74,639.0,80.43253,82.529188,73.365,Figueroa High School,District
3,36165.0,80.746258,77.102592,13.0,2739.0,1763916.0,68.31,79.30,644.0,80.43253,82.529188,73.805,Ford High School,District
4,12995.5,83.816757,83.351499,4.0,1468.0,917500.0,93.39,97.14,625.0,80.43253,82.529188,95.265,Griffin High School,Charter
5,9944.0,80.934412,77.289752,3.0,4635.0,3022020.0,66.75,80.86,652.0,80.43253,82.529188,73.805,Hernandez High School,District
6,23060.0,83.814988,83.803279,8.0,427.0,248087.0,92.51,96.25,581.0,80.43253,82.529188,94.380,Holden High School,Charter
7,1458.0,81.182722,76.629414,0.0,2917.0,1910635.0,65.68,81.32,655.0,80.43253,82.529188,73.500,Huang High School,District
8,32415.0,80.966394,77.072464,12.0,4761.0,3094650.0,66.06,81.22,650.0,80.43253,82.529188,73.640,Johnson High School,District
9,23754.5,84.044699,83.839917,9.0,962.0,585858.0,94.59,95.95,609.0,80.43253,82.529188,95.270,Pena High School,Charter

In [26]:
#reorganizing columns and removing Student ID

grouped_schools = grouped_schools[['School Name', 'School ID', 'Type', 'Size_x', 'Budget_x', 'Per Student', 'Average Math Score', 'Average Reading Score', 'Passing Math', 'Passing Reading', 'Overall Passing Rate']]
grouped_schools.head(10)

,School Name,School ID,Type,Size_x,Budget_x,Per Student,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Bailey High School,7.0,District,4976.0,3124928.0,628.0,80.43253,82.529188,66.68,81.93,74.305
1,Cabrera High School,6.0,Charter,1858.0,1081356.0,582.0,80.43253,82.529188,94.13,97.04,95.585
2,Figueroa High School,1.0,District,2949.0,1884411.0,639.0,80.43253,82.529188,65.99,80.74,73.365
3,Ford High School,13.0,District,2739.0,1763916.0,644.0,80.43253,82.529188,68.31,79.30,73.805
4,Griffin High School,4.0,Charter,1468.0,917500.0,625.0,80.43253,82.529188,93.39,97.14,95.265
5,Hernandez High School,3.0,District,4635.0,3022020.0,652.0,80.43253,82.529188,66.75,80.86,73.805
6,Holden High School,8.0,Charter,427.0,248087.0,581.0,80.43253,82.529188,92.51,96.25,94.380
7,Huang High School,0.0,District,2917.0,1910635.0,655.0,80.43253,82.529188,65.68,81.32,73.500
8,Johnson High School,12.0,District,4761.0,3094650.0,650.0,80.43253,82.529188,66.06,81.22,73.640
9,Pena High School,9.0,Charter,962.0,585858.0,609.0,80.43253,82.529188,94.59,95.95,95.270

In [27]:
#Cleaning up column names.
grouped_schools = grouped_schools.rename(columns={
    'Size_x' : 'Total Students',
    'Budget_x' : 'Total School Budget',
    'Per Student' : 'Per Student Budget'
})

grouped_schools.head(10)

,School Name,School ID,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Bailey High School,7.0,District,4976.0,3124928.0,628.0,80.43253,82.529188,66.68,81.93,74.305
1,Cabrera High School,6.0,Charter,1858.0,1081356.0,582.0,80.43253,82.529188,94.13,97.04,95.585
2,Figueroa High School,1.0,District,2949.0,1884411.0,639.0,80.43253,82.529188,65.99,80.74,73.365
3,Ford High School,13.0,District,2739.0,1763916.0,644.0,80.43253,82.529188,68.31,79.30,73.805
4,Griffin High School,4.0,Charter,1468.0,917500.0,625.0,80.43253,82.529188,93.39,97.14,95.265
5,Hernandez High School,3.0,District,4635.0,3022020.0,652.0,80.43253,82.529188,66.75,80.86,73.805
6,Holden High School,8.0,Charter,427.0,248087.0,581.0,80.43253,82.529188,92.51,96.25,94.380
7,Huang High School,0.0,District,2917.0,1910635.0,655.0,80.43253,82.529188,65.68,81.32,73.500
8,Johnson High School,12.0,District,4761.0,3094650.0,650.0,80.43253,82.529188,66.06,81.22,73.640
9,Pena High School,9.0,Charter,962.0,585858.0,609.0,80.43253,82.529188,94.59,95.95,95.270

In [28]:
#formatting
#grouped_schools['Total Students'] = grouped_schools['Total Students'].map("{:,.0f}".format)
grouped_schools['Total School Budget'] = grouped_schools['Total School Budget'].map("${:,.2f}".format)
#grouped_schools['Per Student Budget'] = grouped_schools['Per Student Budget'].map("${:,.2f}".format)
grouped_schools["Average Math Score"] = round(grouped_schools["Average Math Score"],2)
grouped_schools["Average Reading Score"] = round(grouped_schools["Average Reading Score"],2)
#grouped_schools["Average Math Score"] = grouped_schools["Average Math Score"].map("{:}%".format)
#grouped_schools["Average Reading Score"] = grouped_schools["Average Reading Score"].map("{:}%".format)
grouped_schools

,School Name,School ID,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
0,Bailey High School,7.0,District,4976.0,"$3,124,928.00",628.0,80.43,82.53,66.68,81.93,74.305
1,Cabrera High School,6.0,Charter,1858.0,"$1,081,356.00",582.0,80.43,82.53,94.13,97.04,95.585
2,Figueroa High School,1.0,District,2949.0,"$1,884,411.00",639.0,80.43,82.53,65.99,80.74,73.365
3,Ford High School,13.0,District,2739.0,"$1,763,916.00",644.0,80.43,82.53,68.31,79.30,73.805
4,Griffin High School,4.0,Charter,1468.0,"$917,500.00",625.0,80.43,82.53,93.39,97.14,95.265
5,Hernandez High School,3.0,District,4635.0,"$3,022,020.00",652.0,80.43,82.53,66.75,80.86,73.805
6,Holden High School,8.0,Charter,427.0,"$248,087.00",581.0,80.43,82.53,92.51,96.25,94.380
7,Huang High School,0.0,District,2917.0,"$1,910,635.00",655.0,80.43,82.53,65.68,81.32,73.500
8,Johnson High School,12.0,District,4761.0,"$3,094,650.00",650.0,80.43,82.53,66.06,81.22,73.640
9,Pena High School,9.0,Charter,962.0,"$585,858.00",609.0,80.43,82.53,94.59,95.95,95.270
10,Rodriguez High School,11.0,District,3999.0,"$2,547,363.00",637.0,80.43,82.53,66.37,80.22,73.295
11,Shelton High School,2.0,Charter,1761.0,"$1,056,600.00",600.0,80.43,82.53,93.87,95.85,94.860
12,Thomas High School,14.0,Charter,1635.0,"$1,043,130.00",638.0,80.43,82.53,93.27,97.31,95.290
13,Wilson High School,5.0,Charter,2283.0,"$1,319,574.00",578.0,80.43,82.53,93.87,96.54,95.205
14,Wright High School,10.0,Charter,1800.0,"$1,049,400.00",583.0,80.43,82.53,93.33,96.61,94.970

In [29]:
#Sort and display the top five schools in overall passing rate

top_five_schools = grouped_schools.sort_values(["Overall Passing Rate"], ascending=False)
top_five_schools.head()

,School Name,School ID,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
1,Cabrera High School,6.0,Charter,1858.0,"$1,081,356.00",582.0,80.43,82.53,94.13,97.04,95.585
12,Thomas High School,14.0,Charter,1635.0,"$1,043,130.00",638.0,80.43,82.53,93.27,97.31,95.290
9,Pena High School,9.0,Charter,962.0,"$585,858.00",609.0,80.43,82.53,94.59,95.95,95.270
4,Griffin High School,4.0,Charter,1468.0,"$917,500.00",625.0,80.43,82.53,93.39,97.14,95.265
13,Wilson High School,5.0,Charter,2283.0,"$1,319,574.00",578.0,80.43,82.53,93.87,96.54,95.205

In [30]:
#Sort and display the worst five schools in overall passing rate

worst_five_schools = grouped_schools.sort_values(["Overall Passing Rate"], ascending=True)
worst_five_schools.head()

,School Name,School ID,Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
10,Rodriguez High School,11.0,District,3999.0,"$2,547,363.00",637.0,80.43,82.53,66.37,80.22,73.295
2,Figueroa High School,1.0,District,2949.0,"$1,884,411.00",639.0,80.43,82.53,65.99,80.74,73.365
7,Huang High School,0.0,District,2917.0,"$1,910,635.00",655.0,80.43,82.53,65.68,81.32,73.500
8,Johnson High School,12.0,District,4761.0,"$3,094,650.00",650.0,80.43,82.53,66.06,81.22,73.640
3,Ford High School,13.0,District,2739.0,"$1,763,916.00",644.0,80.43,82.53,68.31,79.30,73.805

In [31]:
#Pandas series for each grade. Grouped each series by school.
#Math
nineth_grade = schools_merge[schools_merge["Grade"] == "9th"].groupby("School Name").mean()["Math Score"]
tenth_grade = schools_merge[schools_merge["Grade"] == "10th"].groupby("School Name").mean()["Math Score"]
eleventh_grade = schools_merge[schools_merge["Grade"] == "11th"].groupby("School Name").mean()["Math Score"]
twelveth_grade = schools_merge[schools_merge["Grade"] == "12th"].groupby("School Name").mean()["Math Score"]

#Combine the series into a dataframe
math_grade_dataframe = pd.DataFrame({"Ninth Grade":nineth_grade, "Tenth Grade":tenth_grade, 
                                     "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})            

#formatting

math_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = math_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display

math_grade_dataframe

                      Ninth Grade Tenth Grade Eleventh Grade Twelveth Grade
School Name
Bailey High School          77.08       77.00          77.52          76.49
Cabrera High School         83.09       83.15          82.77          83.28
Figueroa High School        76.40       76.54          76.88          77.15
Ford High School            77.36       77.67          76.92          76.18
Griffin High School         82.04       84.23          83.84          83.36
Hernandez High School       77.44       77.34          77.14          77.19
Holden High School          83.79       83.43          85.00          82.86
Huang High School           77.03       75.91          76.45          77.23
Johnson High School         77.19       76.69          77.49          76.86
Pena High School            83.63       83.37          84.33          84.12
Rodriguez High School       76.86       76.61          76.40          77.69
Shelton High School         83.42       82.92          83.38          83.78
Thomas High School          83.59       83.09          83.50          83.50
Wilson High School          83.09       83.72          83.20          83.04
Wright High School          83.26       84.01          83.84          83.64

In [32]:
#Pandas series for each grade. Grouped each series by school.
#Reading
nineth_grade = schools_merge[schools_merge["Grade"] == "9th"].groupby("School Name").mean()["Reading Score"]
tenth_grade = schools_merge[schools_merge["Grade"] == "10th"].groupby("School Name").mean()["Reading Score"]
eleventh_grade = schools_merge[schools_merge["Grade"] == "11th"].groupby("School Name").mean()["Reading Score"]
twelveth_grade = schools_merge[schools_merge["Grade"] == "12th"].groupby("School Name").mean()["Reading Score"]

#Combine the series into a dataframe
reading_grade_dataframe = pd.DataFrame({"Ninth Grade":nineth_grade, "Tenth Grade":tenth_grade, 
                                     "Eleventh Grade":eleventh_grade, "Twelveth Grade":twelveth_grade})            

#formatting

reading_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]] = reading_grade_dataframe[["Ninth Grade","Tenth Grade","Eleventh Grade","Twelveth Grade"]].applymap("{:.2f}".format)

#Display

reading_grade_dataframe

                      Ninth Grade Tenth Grade Eleventh Grade Twelveth Grade
School Name
Bailey High School          81.30       80.91          80.95          80.91
Cabrera High School         83.68       84.25          83.79          84.29
Figueroa High School        81.20       81.41          80.64          81.38
Ford High School            80.63       81.26          80.40          80.66
Griffin High School         83.37       83.71          84.29          84.01
Hernandez High School       80.87       80.66          81.40          80.86
Holden High School          83.68       83.32          83.82          84.70
Huang High School           81.29       81.51          81.42          80.31
Johnson High School         81.26       80.77          80.62          81.23
Pena High School            83.81       83.61          84.34          84.59
Rodriguez High School       80.99       80.63          80.86          80.38
Shelton High School         84.12       83.44          84.37          82.78
Thomas High School          83.73       84.25          83.59          83.83
Wilson High School          83.94       84.02          83.76          84.32
Wright High School          83.83       83.81          84.16          84.07

In [33]:
help(pd.cut)

Help on function cut in module pandas.core.reshape.tile:

cut(x, bins, right=True, labels=None, retbins=False, precision=3, include_lowest=False, duplicates='raise')
    Bin values into discrete intervals.

    Use `cut` when you need to segment and sort data values into bins. This
    function is also useful for going from a continuous variable to a
    categorical variable. For example, `cut` could convert ages to groups of
    age ranges. Supports binning into an equal number of bins, or a
    pre-specified array of bins.

    Parameters
    ----------
    x : array-like
        The input array to be binned. Must be 1-dimensional.
    bins : int, sequence of scalars, or pandas.IntervalIndex
        The criteria to bin by.

        * int : Defines the number of equal-width bins in the range of `x`. The
          range of `x` is extended by .1% on each side to include the minimum
          and maximum values of `x`.
        * sequence of scalars : Defines the bin edges allowing for non-uniform
          width. No extension of the range of `x` is done.
        * IntervalIndex : Defines the exact bins to be used.

    right : bool, default True
        Indicates whether `bins` includes the rightmost edge or not. If
        ``right == True`` (the default), then the `bins` ``[1, 2, 3, 4]``
        indicate (1,2], (2,3], (3,4]. This argument is ignored when
        `bins` is an IntervalIndex.
    labels : array or bool, optional
        Specifies the labels for the returned bins. Must be the same length as
        the resulting bins. If False, returns only integer indicators of the
        bins. This affects the type of the output container (see below).
        This argument is ignored when `bins` is an IntervalIndex.
    retbins : bool, default False
        Whether to return the bins or not. Useful when bins is provided
        as a scalar.
    precision : int, default 3
        The precision at which to store and display the bins labels.
    include_lowest : bool, default False
        Whether the first interval should be left-inclusive or not.
    duplicates : {default 'raise', 'drop'}, optional
        If bin edges are not unique, raise ValueError or drop non-uniques.

        .. versionadded:: 0.23.0

    Returns
    -------
    out : pandas.Categorical, Series, or ndarray
        An array-like object representing the respective bin for each value
        of `x`. The type depends on the value of `labels`.

        * True (default) : returns a Series for Series `x` or a
          pandas.Categorical for all other inputs. The values stored within
          are Interval dtype.

        * sequence of scalars : returns a Series for Series `x` or a
          pandas.Categorical for all other inputs. The values stored within
          are whatever the type in the sequence is.

        * False : returns an ndarray of integers.

    bins : numpy.ndarray or IntervalIndex.
        The computed or specified bins. Only returned when `retbins=True`.
        For scalar or sequence `bins`, this is an ndarray with the computed
        bins. If set `duplicates=drop`, `bins` will drop non-unique bin. For
        an IntervalIndex `bins`, this is equal to `bins`.

    See Also
    --------
    qcut : Discretize variable into equal-sized buckets based on rank
        or based on sample quantiles.
    pandas.Categorical : Array type for storing data that come from a
        fixed set of values.
    Series : One-dimensional array with axis labels (including time series).
    pandas.IntervalIndex : Immutable Index implementing an ordered,
        sliceable set.

    Notes
    -----
    Any NA values will be NA in the result. Out of bounds values will be NA in
    the resulting Series or pandas.Categorical object.

    Examples
    --------
    Discretize into three equal-sized bins.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3)
    ... # doctest: +ELLIPSIS
    [(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] ...

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]), 3, retbins=True)
    ... # doctest: +ELLIPSIS
    ([(0.994, 3.0], (5.0, 7.0], (3.0, 5.0], (3.0, 5.0], (5.0, 7.0], ...
    Categories (3, interval[float64]): [(0.994, 3.0] < (3.0, 5.0] ...
    array([0.994, 3.   , 5.   , 7.   ]))

    Discovers the same bins, but assign them specific labels. Notice that
    the returned Categorical's categories are `labels` and is ordered.

    >>> pd.cut(np.array([1, 7, 5, 4, 6, 3]),
    ...        3, labels=["bad", "medium", "good"])
    [bad, good, medium, medium, good, bad]
    Categories (3, object): [bad < medium < good]

    ``labels=False`` implies you just want the bins back.

    >>> pd.cut([0, 1, 1, 2], bins=4, labels=False)
    array([0, 1, 1, 3])

    Passing a Series as an input returns a Series with categorical dtype:

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, 3)
    ... # doctest: +ELLIPSIS
    a    (1.992, 4.667]
    b    (1.992, 4.667]
    c    (4.667, 7.333]
    d     (7.333, 10.0]
    e     (7.333, 10.0]
    dtype: category
    Categories (3, interval[float64]): [(1.992, 4.667] < (4.667, ...

    Passing a Series as an input returns a Series with mapping value.
    It is used to map numerically to intervals based on bins.

    >>> s = pd.Series(np.array([2, 4, 6, 8, 10]),
    ...               index=['a', 'b', 'c', 'd', 'e'])
    >>> pd.cut(s, [0, 2, 4, 6, 8, 10], labels=False, retbins=True, right=False)
    ... # doctest: +ELLIPSIS
    (a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    4.0
     dtype: float64, array([0, 2, 4, 6, 8]))

    Use `drop` optional when bins is not unique

    >>> pd.cut(s, [0, 2, 4, 6, 10, 10], labels=False, retbins=True,
    ...    right=False, duplicates='drop')
    ... # doctest: +ELLIPSIS
    (a    0.0
     b    1.0
     c    2.0
     d    3.0
     e    3.0
     dtype: float64, array([0, 2, 4, 6, 8]))

    Passing an IntervalIndex for `bins` results in those categories exactly.
    Notice that values not covered by the IntervalIndex are set to NaN. 0
    is to the left of the first bin (which is closed on the right), and 1.5
    falls between two bins.

    >>> bins = pd.IntervalIndex.from_tuples([(0, 1), (2, 3), (4, 5)])
    >>> pd.cut([0, 0.5, 1.5, 2.5, 4.5], bins)
    [NaN, (0, 1], NaN, (2, 3], (4, 5]]
    Categories (3, interval[int64]): [(0, 1] < (2, 3] < (4, 5]]

In [34]:
# Using 4 reasonable bins to group school spending. 
spending_bins = [0, 585, 615, 645, 675]
group_names = ["<$585", "$585-615", "$615-645", "$645-675"]


grouped_schools["Spending Ranges (Per Student)"] = pd.cut(grouped_schools["Per Student Budget"], spending_bins, labels=group_names)

schools_spending_grouped = grouped_schools.groupby("Spending Ranges (Per Student)").mean() 

#Remove the unwanted columns
del schools_spending_grouped['School ID']
del schools_spending_grouped['Per Student Budget']

schools_spending_grouped

,Total Students,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Spending Ranges (Per Student),,,,,,
<$585,1592.000000,80.43,82.53,93.460000,96.610000,95.035000
$585-615,1361.500000,80.43,82.53,94.230000,95.900000,95.065000
$615-645,2961.000000,80.43,82.53,75.668333,86.106667,80.887500
$645-675,4104.333333,80.43,82.53,66.163333,81.133333,73.648333

In [39]:
# Using 4 reasonable bins to group school size. 
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

grouped_schools["School Size"] = pd.cut(grouped_schools["Total Students"], size_bins, labels=group_names)

schools_size_grouped = grouped_schools.groupby("School Size").mean() 

#Remove the unwanted columns
del schools_size_grouped['School ID']
del schools_size_grouped['Total Students']
del schools_size_grouped['Per Student Budget']

schools_size_grouped

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
School Size,,,,,
Small (<1000),80.43,82.53,93.55000,96.10000,94.825
Medium (1000-2000),80.43,82.53,93.59800,96.79000,95.194
Large (2000-5000),80.43,82.53,69.96375,82.76625,76.365

In [42]:
#Type view
schools_type_grouped = grouped_schools.groupby("Type").mean()

#Remove the unwanted columns
del schools_type_grouped['School ID']
del schools_type_grouped['Total Students']
del schools_type_grouped['Per Student Budget']

schools_type_grouped

,Average Math Score,Average Reading Score,Passing Math,Passing Reading,Overall Passing Rate
Type,,,,,
Charter,80.43,82.53,93.620000,96.586250,95.103125
District,80.43,82.53,66.548571,80.798571,73.673571

In [ ]:
#Obersvation 1:

#Charter Schools is majorly outperforming district schools. 95% vs 73% is a huge difference. We don't know what is driving that. We have no information on number of teachers, teacher salary, class times, subjects within math / reading, methods of teaching or even Zip Codes for students.
#However, the difference is large enough that one should probably inquire  further.

In [ ]:
#Observation #2

#Size there seems to be a maximum at least wat which a drop starts to occur... over 2000 it drops. Perhaps further investigation is warranted. Is it because funds on different subjects become too spread?